{% extends "base.html" %}
{% block body %}
  <h2 class="mb-4">Reading Statistics</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Book</th>
        <th>Total Time</th>
        <th># Events</th>
        <th># Unique Durs</th>
        <th>Avg Sec/Event</th>
        <th>Sec/Page</th>
        <th>Pages/Sec</th>
      </tr>
    </thead>
    <tbody>
      {% for s in stats %}
      <tr>
        <td>{{ s.title }}</td>
        <td>{{ s.total_read_time_fmt }}</td>
        <td>{{ s.total_events }}</td>
        <td>{{ s.unique_durations }}</td>
        <td>{{ "%.2f"|format(s.avg_duration) }}</td>
        <td>{{ "%.2f"|format(s.secs_per_page) }}</td>
        <td>{{ "%.2f"|format(s.pages_per_sec) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}